.title {
  margin-top: 0;
  margin-bottom: var(--ant-margin);
}

.card__collection_name {
  font-size: var(--ant-font-size-lg);
  font-weight: var(--ant-font-weight-strong);
  margin-bottom: var(--ant-margin-xs);
}
