**/Web

# Development configuration
**/Api/appsettings.*.json

# IDEs
**/.vs
**/.vscode
**/.idea

**/.editorconfig
**/*.md

**/bin
**/obj
**/node_modules

**/.dockerignore
**/Dockerfile*

**/.git
**/.gitignore
