<nz-footer>
  <div nz-flex nzAlign="center" nzJustify="space-between" nzGap="middle" nzWrap="wrap">
    <div nz-flex nzGap="large" nzWrap="wrap">
      <span>Terview</span>
      <span>Dashboard</span>
    </div>
    <span class="copyright">
      © 2024. Copyright:
      <span nz-typography>
        <a href="mailto:{{ email }}">{{ email }}</a>
      </span>
    </span>
    <nav nz-flex class="social-links" nzGap="large" nzWrap="wrap">
      <a href="https://linkedin.com/in/oleksandr-tsvik" target="_blank">
        <span nz-icon nzType="linkedin" nzTheme="outline"></span>
      </a>
      <a href="https://github.com/OleksandrTsvik" target="_blank">
        <span nz-icon nzType="github" nzTheme="outline"></span>
      </a>
      <a href="mailto:{{ email }}">
        <span nz-icon nzType="mail" nzTheme="outline"></span>
      </a>
    </nav>
  </div>
</nz-footer>
