@use '@/variables' as *;

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.logo {
  display: block;
  text-align: center;
  padding: var(--ant-padding-xxs) 0;
}

.layout {
  margin-inline-start: 80px;
  min-height: 100vh;
  transition: all var(--ant-motion-duration-mid);

  &_sider_active {
    margin-inline-start: 200px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--ant-padding-xs);
    padding: 0;
    background: var(--ant-color-bg-container);

    & > nav {
      margin-right: var(--ant-margin);
    }

    .header__collapsed_button {
      font-size: 16px;
      width: 64px;
      height: 64px;
    }
  }

  &__main {
    overflow: initial;
    margin: 24px 16px 8px;
    padding: 24px;
    background: var(--ant-color-bg-container);
    border-radius: var(--ant-border-radius-lg);

    .main__content {
      width: 100%;
      max-width: 1320px;
      margin: 0 auto;
    }
  }
}

@media (max-width: calc($screen-sm - 1px)) {
  .layout {
    margin-inline-start: 0;
  }
}

@media (max-width: $screen-md) {
  .layout__header {
    background: var(--ant-color-bg-elevated);
  }

  .layout__main {
    margin: 0;
    padding: 12px;
    border-radius: 0;
  }
}
