.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--ant-padding-xs);
  margin: 0 0 var(--ant-margin-md);
}

.card {
  &__image {
    position: relative;
    padding: 0 0 58% 0;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100% !important;
      height: 100% !important;
      border-radius: var(--ant-border-radius-lg) var(--ant-border-radius-lg) 0 0;
    }
  }

  [class*='ant-image-mask'] {
    border-radius: var(--ant-border-radius-lg) var(--ant-border-radius-lg) 0 0;
  }

  [class*='ant-card-body'] {
    display: none;
  }
}

.pagination {
  justify-content: center;
  margin-top: var(--ant-margin-md);
}
