.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--ant-padding-xs);
  margin: 0 0 var(--ant-margin-md);
}

.card {
  img {
    border-radius: var(--ant-border-radius-lg) var(--ant-border-radius-lg) 0 0;
  }

  [class*='ant-image-mask'] {
    border-radius: var(--ant-border-radius-lg) var(--ant-border-radius-lg) 0 0;
  }

  [class*='ant-card-body'] {
    display: none;
  }
}

.pagination {
  justify-content: center;
  margin-top: var(--ant-margin-md);
}
