<nz-input-group nzSearch [nzAddOnAfter]="search">
  <input type="text" nz-input placeholder="Пошук за ключовими словами..." />
</nz-input-group>
<ng-template #search>
  <button nz-button nzType="primary" nzSearch>
    <span nz-icon nzType="search"></span>
  </button>
</ng-template>
<div class="tags">
  @for (tag of tags; track tag.name) {
    <nz-tag [nzColor]="tag.selected ? 'success' : 'default'" (click)="onTagClick(tag.name)">
      {{ tag.name }}
    </nz-tag>
  }
</div>
@if (notes.length) {
  <section class="notes">
    <p class="notes__total" nz-typography nzType="secondary">Усього записів: {{ notes.length }}</p>
    <nz-collapse class="notes__list">
      @for (note of notes; track note) {
        <nz-collapse-panel [nzHeader]="note.title">
          <p style="margin: 0">{{ note.content }}</p>
        </nz-collapse-panel>
      }
    </nz-collapse>
    <nz-pagination
      class="notes__pagination"
      nzShowSizeChanger
      nzResponsive
      nzHideOnSinglePage
      [nzPageIndex]="3"
      [nzTotal]="500"
      [nzPageSize]="10"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
    />
  </section>
} @else {
  <nz-result nzTitle="Не знайдено" nzSubTitle="Не вдалося знайти записи, які б відповідали критеріям пошуку" />
}
