.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding-top: var(--ant-padding-sm);

  nz-tag {
    cursor: pointer;
  }
}

.notes {
  &__total {
    text-align: end;
    margin-top: var(--ant-margin-sm);
    margin-bottom: 0;
  }

  &__list {
    margin-top: var(--ant-margin-xss);
  }

  &__pagination {
    text-align: center;
    margin-top: var(--ant-margin-md);
  }
}
