@import '../../../variables';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ant-padding-md);
  flex-wrap: wrap;
  width: 100%;
  max-width: $screen-xxl;
  margin: 0 auto;
  padding: var(--ant-padding-xxs);
}

.socialLinks {
  a {
    color: inherit;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.65;
    }
  }

  span {
    font-size: 30px;
  }
}

@media (max-width: $screen-md) {
  .copyright {
    display: none;
  }
}

@media (min-width: $screen-md) {
  .footer {
    padding: var(--ant-padding-xs) var(--ant-padding-lg);
  }

  .copyright {
    display: block;
  }
}
