.tags {
  display: flex;
  gap: var(--ant-padding-xs);
  flex-wrap: wrap;
  padding-top: var(--ant-padding-sm);

  &__search_mode {
    width: 40px;
    margin-inline-end: var(--ant-margin-xs);
  }

  span {
    cursor: pointer;
  }

  &__reset {
    display: flex;
    align-items: center;
  }
}

.notes {
  margin-top: var(--ant-margin-md);

  &__total {
    margin-bottom: var(--ant-margin-sm);

    &:first-child {
      cursor: pointer;
    }
  }

  &__list {
    margin-top: var(--ant-margin-xs);
    background: var(--ant-color-bg-layout);

    .list__item {
      margin-bottom: var(--ant-margin-md);
      background: var(--ant-color-bg-container);
      border: none !important;
      border-radius: var(--ant-border-radius-lg) !important;

      .item__title + div {
        margin-top: var(--ant-margin-xxs);
      }

      .item__date {
        text-align: end;
        margin: 0;
      }
    }
  }

  &__pagination {
    justify-content: center;
    margin-top: var(--ant-margin-md);
  }
}
